@using TREK_Web_Diploma.Controllers.spares.sparesWheelset;
@using TREK_Web_Diploma.Models.spares.sparesWheelset;
@model Tire

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/creatingViews.css" />
<h1>Додати покришку</h1>
<form class="div_form" method="post" asp-action="Create">
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="TireName">Назва та модель</label>
        <input class="in_form_div__input" asp-for="TireName" />
        <span asp-validation-for="TireName" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="TireDescription">Опис</label>
        <input class="in_form_div__input" asp-for="TireDescription" />
        <span asp-validation-for="TireDescription" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="TireQuantity">Кількість на складі</label>
        <input class="in_form_div__input" asp-for="TireQuantity" />
        <span asp-validation-for="TireQuantity" class="text-danger"></span>
    </div>
    <button type="submit">Додати</button>
</form>
