@using TREK_Web_Diploma.Controllers.spares.sparesTransmition;
@using TREK_Web_Diploma.Models.spares.sparesTransmition;
@model IEnumerable<FrontGear>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/tableViews.css" />
<h1>Передні системи трансмісії</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Кількість</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FrontGearId</td>
            <td class="text_row row_2">@item.FrontGearName</td>
            <td>@item.FrontGearQuantity</td>
        </tr>
    }
</table>