@using TREK_Web_Diploma.Controllers.spares.sparesEquipment;
@using TREK_Web_Diploma.Models.spares.sparesEquipment;
@model IEnumerable<Handlebar>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/tableViews.css" />
<h1>Кермо</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Назва</th>
        <th>Кількість</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HandlebarId</td>
            <td class="text_row row_2">@item.HandlebarName</td>
            <td>@item.HandlebarQuantity</td>
        </tr>
    }
</table>