@using TREK_Web_Diploma.Controllers.production;
@using TREK_Web_Diploma.Data.Enum;
@using TREK_Web_Diploma.Models.production;
@model Bike
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="icon" href="~/favicon.ico" />
<link rel="stylesheet" href="~/css/creatingViews.css" />

<h1 class="title">Додати новий велосипед</h1>
<form class="div_form">
    <h3 class="h3_title">Основні характеристики</h3>

    <div class="h3_form_div">
        <div class="in_form_div">
            <label class="in_form_div__label" asp-for="BikeName">Назва та модель</label>
            <input class="in_form_div__input" asp-for="BikeName" />
            <span asp-validation-for="BikeName" class="text-danger"></span>
        </div>
        <div class="in_form_div">
            <label class="in_form_div__label" asp-for="BikeImage">Посилання на фото велосипеда</label>
            <input class="in_form_div__input" asp-for="BikeImage" />
            <span asp-validation-for="BikeImage" class="text-danger"></span>
        </div>
        <div class="in_form_div">
            <label class="in_form_div__label" asp-for="BikeDescription">Опис</label>
            <input class="in_form_div__input" asp-for="BikeDescription" />
            <span asp-validation-for="BikeDescription" class="text-danger"></span>
        </div>
        <div class="in_form_div">
            <label class="in_form_div__label" asp-for="BikePrice">Ціна</label>
            <input class="in_form_div__input" asp-for="BikePrice" />
            <span asp-validation-for="BikePrice" class="text-danger"></span>
        </div>
        <div class="in_form_div">
            <label class="in_form_div__label" asp-for="BikeWeight">Вага</label>
            <input class="in_form_div__input" asp-for="BikeWeight" />
            <span asp-validation-for="BikeWeight" class="text-danger"></span>
        </div>
        <div class="in_form_div">
            <label class="in_form_div__label" asp-for="TypeOfBike">Тип</label>
            <select class="in_form_div__input" asp-for="TypeOfBike">
                @foreach (TypeOfBike bikeType in Enum.GetValues(typeof(TypeOfBike)))
                {
                    <option value="@bikeType">@bikeType</option>
                }
            </select>
        </div>
    </div>
    <div>
        <h3 class="h3_title">Фреймсет велосипеда</h3>

        <div class="h3_form_div">
            <h4>Рама</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Frameset.Frame.FrameName">Назва</label>
                <input class="in_form_div__input" asp-for="Frameset.Frame.FrameName" />
                <span asp-validation-for="Frameset.Frame.FrameName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Frameset.Frame.FrameDescription">Опис</label>
                <input class="in_form_div__input" asp-for="Frameset.Frame.FrameDescription" />
                <span asp-validation-for="Frameset.Frame.FrameDescription" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Frameset.Frame.FrameQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Frameset.Frame.FrameQuantity" />
                <span asp-validation-for="Frameset.Frame.FrameQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Амортизація</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Frameset.Fork.ForkName">Назва</label>
                <input class="in_form_div__input" asp-for="Frameset.Fork.ForkName" />
                <span asp-validation-for="Frameset.Fork.ForkName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Frameset.Fork.ForkDescription">Опис</label>
                <input class="in_form_div__input" asp-for="Frameset.Fork.ForkDescription" />
                <span asp-validation-for="Frameset.Fork.ForkDescription" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Frameset.Fork.ForkQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Frameset.Fork.ForkQuantity" />
                <span asp-validation-for="Frameset.Fork.ForkQuantity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <h3 class="h3_title">Вілсет велосипеда</h3>

        <div class="h3_form_div">
            <h4>Втулка</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Hub.HubName">Назва</label>
                <input class="in_form_div__input" asp-for="Wheelset.Hub.HubName" />
                <span asp-validation-for="Wheelset.Hub.HubName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Hub.HubDescription">Опис</label>
                <input class="in_form_div__input" asp-for="Wheelset.Hub.HubDescription" />
                <span asp-validation-for="Wheelset.Hub.HubDescription" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Hub.HubQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Wheelset.Hub.HubQuantity" />
                <span asp-validation-for="Wheelset.Hub.HubQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
        <h4>Обод</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Rim.RimName">Назва</label>
                <input class="in_form_div__input" asp-for="Wheelset.Rim.RimName" />
                <span asp-validation-for="Wheelset.Rim.RimName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Rim.RimDescription">Опис</label>
                <input class="in_form_div__input" asp-for="Wheelset.Rim.RimDescription" />
                <span asp-validation-for="Wheelset.Rim.RimDescription" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Rim.RimQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Wheelset.Rim.RimQuantity" />
                <span asp-validation-for="Wheelset.Rim.RimQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Покришка</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Tire.TireName">Назва</label>
                <input class="in_form_div__input" asp-for="Wheelset.Tire.TireName" />
                <span asp-validation-for="Wheelset.Tire.TireName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Wheelset.Tire.TireDescription">Опис</label>
                <input class="in_form_div__input" asp-for="Wheelset.Tire.TireDescription" />
                <span asp-validation-for="Wheelset.Tire.TireDescription" class="text-danger"></span>
            </div>
            <div class="in_form_div">
            <label class="in_form_div__label" asp-for="Wheelset.Tire.TireQuantity">Кількість на складі</label>
            <input class="in_form_div__input" asp-for="Wheelset.Tire.TireQuantity" />
            <span asp-validation-for="Wheelset.Tire.TireQuantity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <h3 class="h3_title">Групсет велосипеда</h3>

        <div class="h3_form_div">
            <h4>Каретка</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Carriage.CarriageName">Назва</label>
                <input class="in_form_div__input" asp-for="Groopset.Carriage.CarriageName" />
                <span asp-validation-for="Groopset.Carriage.CarriageName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Carriage.CarriageQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Groopset.Carriage.CarriageQuantity" />
                <span asp-validation-for="Groopset.Carriage.CarriageQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Педалі</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Pedals.PedalsName">Назва</label>
                <input class="in_form_div__input" asp-for="Groopset.Pedals.PedalsName" />
                <span asp-validation-for="Groopset.Pedals.PedalsName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Pedals.PedalsQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Groopset.Pedals.PedalsQuantity" />
                <span asp-validation-for="Groopset.Pedals.PedalsQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Кассета</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.Cassette.CassetteName">Назва</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.Cassette.CassetteName" />
                <span asp-validation-for="Groopset.Transmition.Cassette.CassetteName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.Cassette.CassetteQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.Cassette.CassetteQuantity" />
                <span asp-validation-for="Groopset.Transmition.Cassette.CassetteQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Перемикач</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.Switch.SwitchName">Назва</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.Switch.SwitchName" />
                <span asp-validation-for="Groopset.Transmition.Switch.SwitchName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.Switch.SwitchQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.Switch.SwitchQuantity" />
                <span asp-validation-for="Groopset.Transmition.Switch.SwitchQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Шифтер</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.Shifter.ShifterName">Назва</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.Shifter.ShifterName" />
                <span asp-validation-for="Groopset.Transmition.Shifter.ShifterName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.Shifter.ShifterQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.Shifter.ShifterQuantity" />
                <span asp-validation-for="Groopset.Transmition.Shifter.ShifterQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Система</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.FrontGear.FrontGearName">Назва</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.FrontGear.FrontGearName" />
                <span asp-validation-for="Groopset.Transmition.FrontGear.FrontGearName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Groopset.Transmition.FrontGear.FrontGearQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Groopset.Transmition.FrontGear.FrontGearQuantity" />
                <span asp-validation-for="Groopset.Transmition.FrontGear.FrontGearQuantity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div>
        <h3 class="h3_title">Компоненти велосипеда</h3>

        <div class="h3_form_div">
            <h4>Гальма</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Brake.BrakeName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.Brake.BrakeName" />
                <span asp-validation-for="Equipment.Brake.BrakeName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Brake.BrakeQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Equipment.Brake.BrakeQuantity" />
                <span asp-validation-for="Equipment.Brake.BrakeQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Седло</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Saddle.SaddleName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.Saddle.SaddleName" />
                <span asp-validation-for="Equipment.Saddle.SaddleName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Saddle.SaddleQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Equipment.Saddle.SaddleQuantity" />
                <span asp-validation-for="Equipment.Saddle.SaddleQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Підсидельний штир</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.SeatPost.SeatPostName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.SeatPost.SeatPostName" />
                <span asp-validation-for="Equipment.SeatPost.SeatPostName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.SeatPost.SeatPostQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Equipment.SeatPost.SeatPostQuantity" />
                <span asp-validation-for="Equipment.SeatPost.SeatPostQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Винос</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Stem.StemName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.Stem.StemName" />
                <span asp-validation-for="Equipment.Stem.StemName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
            <label class="in_form_div__label" asp-for="Equipment.Stem.StemQuantity">Кількість на складі</label>
            <input class="in_form_div__input" asp-for="Equipment.Stem.StemQuantity" />
            <span asp-validation-for="Equipment.Stem.StemQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Кермо</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Handlebar.HandlebarName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.Stem.StemName" />
                <span asp-validation-for="Equipment.Stem.StemName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Handlebar.HandlebarQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Equipment.Handlebar.HandlebarQuantity" />
                <span asp-validation-for="Equipment.Handlebar.HandlebarQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Грипси</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Grips.GripsName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.Grips.GripsName" />
                <span asp-validation-for="Equipment.Grips.GripsName" class="text-danger"></span>
            </div>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Grips.GripsQuantity">Кількість на складі</label>
                <input class="in_form_div__input" asp-for="Equipment.Grips.GripsQuantity" />
                <span asp-validation-for="Equipment.Grips.GripsQuantity" class="text-danger"></span>
            </div>
        </div>

        <div class="h3_form_div">
            <h4>Рульова</h4>
            <div class="in_form_div">
                <label class="in_form_div__label" asp-for="Equipment.Steering.SteeringName">Назва</label>
                <input class="in_form_div__input" asp-for="Equipment.Steering.SteeringName" />
                <span asp-validation-for="Equipment.Steering.SteeringName" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>