@using TREK_Web_Diploma.Controllers.spares.sparesFrameset;
@using TREK_Web_Diploma.Models.spares.sparesFrameset;
@model Frame

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/creatingViews.css" />
<h1>Додати раму</h1>
<form class="div_form" method="post" asp-action="Create">
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="FrameName">Назва та модель</label>
        <input class="in_form_div__input" asp-for="FrameName" />
        <span asp-validation-for="FrameName" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="FrameDescription">Опис</label>
        <input class="in_form_div__input" asp-for="FrameDescription" />
        <span asp-validation-for="FrameDescription" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="FrameQuantity">Кількість на складі</label>
        <input class="in_form_div__input" asp-for="FrameQuantity" />
        <span asp-validation-for="FrameQuantity" class="text-danger"></span>
    </div>
    <button type="submit">Додати</button>
</form>