@using TREK_Web_Diploma.Controllers.factory;
@using TREK_Web_Diploma.Models.factory;
@model Staff

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/creatingViews.css" />
<h1 class="title">Додати нового робітника</h1>
<form class="div_form" method="post" asp-action="CreateById">
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="FirstName">Ім'я</label>
        <input class="in_form_div__input" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="SecondName">Фамілія</label>
        <input class="in_form_div__input" asp-for="SecondName" />
        <span asp-validation-for="SecondName" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="JobTitleId">ID Посади</label>
        <input class="in_form_div__input" asp-for="JobTitleId" />
        <span asp-validation-for="JobTitleId" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="FactoryId">ID підприємства</label>
        <input class="in_form_div__input" asp-for="FactoryId" />
        <span asp-validation-for="FactoryId" class="text-danger"></span>
    </div>
    <button type="submit">Додати</button>
</form>
