@using TREK_Web_Diploma.Controllers.production;
@using TREK_Web_Diploma.Models.production;
@model Groopset

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/creatingViews.css" />
<form class="div_form" method="post" asp-action="CreateById">
    <div class="in_form_div">
         <label class="in_form_div__label" asp-for="Transmition.ShifterId">ID</label>
         <input class="in_form_div__input" asp-for="Transmition.ShifterId" />
         <span asp-validation-for="Transmition.ShifterId" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="Transmition.SwitchId">ID</label>
        <input class="in_form_div__input" asp-for="Transmition.SwitchId" />
        <span asp-validation-for="Transmition.SwitchId" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="Transmition.CassetteId">ID</label>
        <input class="in_form_div__input" asp-for="Transmition.CassetteId" />
        <span asp-validation-for="Transmition.CassetteId" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="Transmition.FrontGearId">ID</label>
        <input class="in_form_div__input" asp-for="Transmition.FrontGearId" />
        <span asp-validation-for="Transmition.FrontGearId" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="CarriageId">ID</label>
        <input class="in_form_div__input" asp-for="CarriageId" />
        <span asp-validation-for="CarriageId" class="text-danger"></span>
    </div>
    <div class="in_form_div">
        <label class="in_form_div__label" asp-for="PedalsId">ID</label>
        <input class="in_form_div__input" asp-for="PedalsId" />
        <span asp-validation-for="PedalsId" class="text-danger"></span>
    </div>
    <button type="submit">Додати</button>
</form>

