p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 14pt;
}

.main_img {
    transition: 0.4s;
    height: 550px;
}

    .main_img:hover {
        transition: 0.4s;
        height: 700px;
    }

.inner_img_text {
    margin: 0 70px 0 0;
}

    .inner_img_text:last-child {
        margin: 0;
    }

.img_text_contaner {
    display: flex;
    flex-direction: row;
}

.tab_contaner {
    margin: 30px 0 0 0;
}

table {
    border-bottom: 0px solid purple;
    transition: 0.4s;
    border-collapse: collapse;
}

    table:hover {
        border-bottom: 15px solid purple;
        transition: 0.4s;
    }

.table_1td {
    transition: 0.3s;
    border-left: 2px solid gray;
}

    .table_1td:hover {
        transition: 0.3s;
        border-left: 5px solid blue;
    }

.table_2th {
    width: 40%;
}

.table_1th {
    padding: 0 0 0 10px;
    border-left: 7px solid black;
    border-top: 5px solid black;
    font-size: 18pt;
    transition: 0.4s;
}

    .table_1th:hover {
        transition: 0.4s;
        border-left: 15px solid purple;
        border-top: 7px solid purple;
    }

tr {
    height: 20px;
    padding: 10px;
}

td {
    padding: 5px 5px 5px 30px;
}

.info {
    background-color: #f9f9ff;
    padding: 10px 25px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}

.info__switch:checked ~ .info__body {
    max-height: 100px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 6px solid #696969;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch:checked ~ .info__headline::before {
    transform: rotate(180deg) translateY(6px);
    transition: 0.6s;
}

.info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: black;
    font-weight: normal;
    cursor: pointer;
    transition: color 0.5s;
}

    .info__headline:hover {
        text-decoration: none;
        color: red;
        transition: color 0.5s;
    }
