.title {
    margin-bottom: 30px;
}

.div_form {
    padding-left: 20px;
}

.h3_title {
    margin-bottom: 15px;
}

.h3_form_div {
    padding-left: 20px;
}

.in_form_div {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 45px;
    background-color: transparent;
    border-left: 5px solid blue;
    padding: 5px 10px 10px 15px;
    transition: 0.3s;
}

.in_form_div:last-child {
    margin-bottom: 30px;
}

.in_form_div_margin {
    margin-bottom: 30px;
}

.in_form_div:hover {
    padding: 5px 10px 10px 10px;
    background-color: #D6D5CB;
    border-left: 10px solid purple;
    transition: 0.3s;
}

.in_form_div__label {
    width: 250px;
}

.in_form_div__input {
    width: 250px;
}
