.table_1 {
    border-left: 0px solid purple;
    transition: 0.4s;
}

    .table_1:hover {
        border-left: 10px solid purple;
        transition: 0.4s;
    }

.tr_1 {
    height: 20px;
    padding: 10px;
    transition: 0.2s;
    border-bottom: 0px solid purple;
}

    .tr_1:hover {
        border-bottom: 5px solid purple;
        transition: 0.2s;
    }

.td_1 {
    padding: 5px 5px 5px 30px;
}
