@{
    ViewData["Title"] = "Home Page";
}
<link rel="icon" href="~/favicon.ico" />
<link rel="stylesheet" href="~/css/homePage.css" />
<div class="video-container">
    <iframe  
        frameborder="0" 
        allowfullscreen="true" 
        allow="fullscreen *"
        src="https://www.youtube.com/embed/Un3pz2htKzo?autoplay=1&mute=1&loop=1">
    </iframe>
    <div class="text-container">
        <div class="h1-container-out">
            <div class="h1-container">
                <h1 class="h1-first">Ride bikes.</h1>
                <h1 class="h1-first">Have fun.</h1>
                <h1 class="h1-first">Feel good.</h1>
            </div>
            <div class="h1-container">
                <h1 class="h1-last">Ride bikes.</h1>
                <h1 class="h1-last">Have fun.</h1>
                <h1 class="h1-last">Feel good.</h1>
            </div>
        </div>
        <div class="button-container">
            <button>Велосипеди</button>
            <button>Аксесуари</button>
        </div>
    </div>
</div>
